body {
    width: 60%;
    margin: 0 auto;
}

.logo {
    width: 20%;
    height: 30%;
}

.banner-intestazione {
    background-image:url("../img/pattern.png");
    background-size: 10% 100px;
    background-color: cornflowerblue;
}

h1 {
    margin: 3px;
}

.sottotitolo {
    color: grey;
}

#autore {
    color: cornflowerblue;
}

.foto-lee {
    height: 200px;
    width: 49%;
}

.evidenziato {
    background: yellow;
}

.didascalia {
    font-size: 10px;
    margin: 0.5px;
}

table {
    width: 100%;
}

thead {
    background: lightseagreen;
}

th {
    color: white;
}

td {
    width: 33%;
}

.azzurrino {
    background: lightsteelblue;
}

.immagine-footer1 {
    width: 300px;
    height: 200px;
    background-image: url("../img/monitor.jpg");
    margin-bottom: 5px;
}

.immagine-footer2 {
    width: 300px;
    height: 200px;
    background-image: url("../img/graph.jpg");
}

.scritte-footer {
    font-size: 30px;
    color: white;
}